/.vscode/ipch/

/dist/
/node_modules/
/types/

/test/data/node/
/test/testdata-*

/lib/**/*.js
/lib/**/*.js.map
/test/**/*.js
/test/**/*.js.map
/tools/**/*.js
/tools/**/*.js.map

/benchmark/**/node_modules/
/benchmark/**/dist/

npm-debug.log
.DS_Store
yarn-error.log
