[submodule "deps/emsdk"]
	path = deps/emsdk
	url = https://github.com/juj/emsdk.git
	ignore = dirty
[submodule "deps/eigen"]
	path = deps/eigen
	url = https://github.com/eigenteam/eigen-git-mirror.git
	ignore = dirty
