# This sets the default behaviour, overriding core.autocrlf
* text=auto

# All source files should have unix line-endings in the repository,
# but convert to native line-endings on checkout
*.cc text
*.cpp text
*.h text

*.ts text
*.js text
*.json text
*.jsonc text

*.md text

# ONNX model test files are binary
*.onnx -text
*.pb -text
