benchmark/
deps/
examples/
node_modules/
src/
test/
tools/

lib/**/*.ts

.vscode

.clang-format
.huskyrc
.gitmodules
.npmrc
.npmignore
npm-debug.log

karma.conf.js
tsconfig.json
tslint.json
webpack.config.js
